@media (min-width: 1024px) {

    :root {
        --shadow1: -4px 8px 24px hsla(0, 0%, 0%, .125);
        --shadow2: 0px 16px 30px hsla(0, 0%, 0%, .125);
        --shadow3: 0px 16px 40px hsla(0, 0%, 0%, .125);
    }

    .sidebar, article {
        width: 950px;
        box-shadow: var(--shadow5);
    }

    main { margin-bottom: 60px; }

    .main-content {
        position: relative;
        width: max-content;
        margin: auto;
    }

    .navbar {
        position: absolute;
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
        width: max-content;
        border-radius: 0 20px;
        padding: 0 20px;
        box-shadow: none;
    }

    .navbar-list {
        gap: 30px;
        padding: 0 20px;
    }

    .navbar-link { font-weight: var(--fw500); }

    .service-list {
        grid-template-columns: 1fr 1fr;
        gap: 20px 25px;
    }

    .testimonials-item { min-width: calc(50% - 15px); }

    .modal-img-wrapper > img { top: 20px; }

    .cert-item { min-width: calc(25% - 15px); }

    .project-list { grid-template-columns: repeat(3, 1fr); }

    .blog-banner-box { height: 230px; }

    .cert-list {
        grid-template-columns: repeat(4, 1fr);
    }
}